.container {
    z-index: 999;
    background: var(--white);
    border-bottom: 1px solid var(--divider);

    &::before {
        background: linear-gradient(90deg, #C9D2F0 0%, #FFE7BF 100%);
        height: 0.5rem;
        display: block;
        content: "";
        width: 100%;
    }

    & > section {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.nav {
    grid-column: 1 / 13;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (--laptop) {
        grid-column: 1;
    }
}

.menu {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-flex;
}

.logo :global(a) {
    display: inline-flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
}

.sitemap {
    margin: 0;
    padding: 0;
    transition: opacity 0.2s;
    display: flex;
    list-style: none;
    align-items: center;

    & li:last-of-type a {
        border: 1px solid var(--black);
        border-radius: 4px;
        padding-left: 1rem;
        padding-right: 1rem;
        &::after {
            display: none !important;
        }
    }

    & a {
        color: var(--black);
        text-decoration: none;
        opacity: 0.4;
        transition: opacity 0.2s;
        display: block;
        padding: 0.55rem 0 0.45rem;
        margin: 1rem 0 1rem 1.5rem;
        position: relative;

        @media (--tablet) {
            margin: 0.5rem 0;
            font-size: var(--type-scale-3);
        }
    }

    & li a:hover,
    & li.active a {
        opacity: 1;
    }

    & li.active a::after {
        content: "";
        width: 100%;
        background: var(--black);
        height: 1px;
        display: block;
        position: absolute;
        bottom: -1.1rem;

        @media (--tablet) {
            bottom: 0;
        }
    }

    @media (--tablet) {
        opacity: 0;
        user-select: none;
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.99);
        height: 100vh;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.hamburger {
    padding: 0.85rem;
    margin-right: -0.85rem;
}

.open .sitemap {
    opacity: 1;
    user-select: initial;
    pointer-events: initial;
}
