.navContainer {
    z-index: 999;
}

.nav {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    @media (--mobile) {
        padding: 0.75rem 0;
    }
}

.name a {
    font-weight: 650;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

.menu {
    display: flex;
    align-items: center;
}

.sitemap {
    margin: 0 2rem 0 0;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.2s;
    display: flex;
    list-style: none;
    padding: 0;

    & a {
        margin-left: 2rem;
        color: var(--black);
        text-decoration: none;
        opacity: 0.4;
        transition: opacity 0.2s;
        display: block;

        @media (--tablet) {
            font-size: var(--type-scale-4);
            margin: 0.5rem 0;
        }
    }

    & li a:hover,
    & li.active a {
        opacity: 1;
    }

    @media (--tablet) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(4px);
        height: 100vh;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.active {

    &.nav {
        justify-content: flex-end;
    }

    & .name {
        display: none;
    }

    & .hamburger::before {
        transform: translate3d(-4px,2px,0) rotate(-45deg) scaleX(.7);
    }

    & .hamburger::after {
        transform: translate3d(-4px,-2px,0) rotate(45deg) scaleX(.7);
    }

    & .sitemap {
        opacity: 1;
        user-select: initial;
        pointer-events: initial;
    }
}