.banner {
  background: var(--black);
  color: var(--white);

  & section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.bannerContent {
  composes: smallSans from global;
  grid-column: 1 / 13;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerText p {
  margin: 0;
}

.button {
  text-decoration: none;
}

.bannerArrow {
  margin-left: 0.25rem;
}

.container {
  z-index: 999;
  background: var(--white);
  border-bottom: 1px solid var(--divider);

  & > section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav {
  grid-column: 1 / 13;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (--laptop) {
    grid-column: 1;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  filter: var(--image-filter);
}

.logo :global(a) {
  display: inline-flex;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}

.sitemap {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;

  @media (--tablet) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    height: 100vh;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.hamburger {
  padding: 0.85rem;
  margin-right: -0.85rem;
  display: none;

  @media (--tablet) {
    display: block;
  }
}

.menuOpen .sitemap {
  display: flex;
}

.outlink {
  position: absolute;
  transform: rotate(-45deg);
  right: 0rem;
  font-size: 0.75rem;
  top: 1rem;
  color: var(--black);
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.link {
  composes: smallSans from global;
  position: relative;

  & a {
    color: var(--black);
    text-decoration: none;
    opacity: 0.4;
    transition: opacity 0.2s;
    display: block;
    padding: 0.55rem 0 0.45rem;
    margin: 1rem 0 1rem 1.5rem;
    position: relative;
    background: var(--white);

    @media (--tablet) {
      margin: 0.5rem 0;
      font-size: var(--type-scale-3);
    }
  }

  &.external a {
    padding-right: 1rem; 
  }

  & a:hover, & a:focus, &.active a {
    opacity: 1;

    & ~ .outlink {
      opacity: 1;
    }
  }

  &:last-of-type a {
    border: 1px solid var(--black);
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
