.design {
  grid-column: 1 / 9;

  @media (--laptop) {
    grid-column: 1;
  }
}

.designPosts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-medium);
  align-self: flex-start;

  & .post {
    &:nth-child(2n) {
      grid-column: 1 / 2;

      @media (--laptop) {
        grid-column: 1;
      }
    }
    &:nth-child(2n + 1) {
      grid-column: 2 / 3;

      @media (--laptop) {
        grid-column: 1;
      }
    }
    &:nth-child(1) {
      grid-column: 1 / 3 !important;

      @media (--laptop) {
        grid-column: 1 !important;
      }
    }
  }

  @media (--laptop) {
    grid-column: 1;
    grid-template-columns: 1fr;
  }
}

.technical {
  grid-column: 10 / 13;
  align-self: flex-start;

  @media (--laptop) {
    grid-column: 1;
  }
}

.technicalPosts {
  display: inline-grid;
  grid-template-columns: none;
  gap: var(--gap-small);
}
