.posts {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 0;
    margin: 0;
    
    @media (--laptop) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (--tablet) {
        grid-template-columns: none;
    }
}

.featured {
    grid-column: 1 / 3;

    @media (--tablet) {
        grid-column: 1 / 2;
    }
}