@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 color-mod(var(--red) a(70%));
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px color-mod(var(--red) a(0));
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 color-mod(var(--red) a(0));
  }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 color-mod(var(--green) a(70%));
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px color-mod(var(--green) a(0));
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 color-mod(var(--green) a(0));
  }
}

.hero {
  grid-column: 1 / 5;

  & section {
    grid-template-columns: 1fr;
    padding: 0 !important;
    margin: 0 !important;

    & > div {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  & h1 {
    grid-column: 1;
    padding: 0;
    margin: 0;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.form {
  grid-column: 6 / 11;

  @media (--laptop) {
    grid-column: 1;
  }
}

.form.loading {
  opacity: 0.4;
  pointer-events: none;
  user-select: none;
}

.fieldset,
.input,
.textarea,
.files {
  padding: 0;
  margin: 0;
  border: none;
  appearance: none;
  font-family: inherit;
}

.input,
.textarea,
.button {
  padding: 1rem 1.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.input,
.textarea {
  background: var(--ghost);
  color: var(--black);
  width: 100%;
  margin-bottom: 2rem;
  line-height: 1.6;
  transition: background 0.2s, box-shadow 0.2s;
  
  &::placeholder {
    color: var(--black);
    opacity: 0.4;
  }
  
  &:valid:not(:placeholder-shown):not(:focus) {
    box-shadow: 0 0 0 0.125rem var(--green);
  }
  
  &:invalid:not(:placeholder-shown):not(:focus) {
    box-shadow: 0 0 0 0.125rem var(--red);
  }
}

.textarea {
  height: 8rem;
  resize: vertical;
  min-height: 3rem;
  max-height: 15rem;
}

.label {
  composes: smallSans from global;
  display: block;
  margin: 0 0 0.25rem;
}

.label span {
  opacity: 0.5;
}

.button {
  appearance: none;
  background: var(--black);
  color: var(--white);
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}

.files {
  composes: smallSans from global;
  margin-top: 0.5rem;
  cursor: pointer;
  background: var(--ghost);
  color: var(--black);
  padding: 1rem;
  border-radius: 0.25rem;
  border: none;
  margin: 0 1rem 0 0;
  cursor: pointer;
  display: inline-flex;
}

.fieldHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.remaining {
  composes: smallSans from global;
  color: var(--grey);
  opacity: 0.5;
}

.available {
  background: var(--ghost);
  border-radius: 10rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: inline-flex;
  align-items: center;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  background: var(--red);
  border-radius: 100%;
  margin-right: 0.5rem;
  animation: pulse-red 2s infinite;

  &.active {
    background: var(--green);
    animation: pulse-green 2s infinite;
  }
}

.dotText {
  composes: smallSans grey from global;
  margin: 0 0 -0.2vw;
}

.dropzone {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: color-mod(var(--blue) a(0.2));
  pointer-events: none;
  user-select: none;
  border: 2px dashed var(--blue);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s;

  &.active {
    opacity: 1;
  }
}

.fileList {
  margin: 1.5rem -0.5rem -0.5rem;
}

.file {
  composes: smallSans from global;
  cursor: pointer;
  background: var(--ghost);
  color: var(--black);
  padding: 0.25rem 0.5rem;
  border-radius: 10rem;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
  display: inline-flex;
}

.remove {
  margin-left: 0.5rem;
}
