@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 color-mod(var(--red) a(70%));
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px color-mod(var(--red) a(0));
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 color-mod(var(--red) a(0));
  }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 color-mod(var(--green) a(70%));
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px color-mod(var(--green) a(0));
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 color-mod(var(--green) a(0));
  }
}

.content {
  grid-column: 1 / 5;
}

.title h1 {
  max-width: 30rem;
}

.available {
  background: var(--ghost);
  border-radius: 10rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: inline-flex;
  align-items: center;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  background: var(--red);
  border-radius: 100%;
  margin-right: 0.5rem;
  animation: pulse-red 2s infinite;

  &.active {
    background: var(--green);
    animation: pulse-green 2s infinite;
  }
}

.dotText {
  composes: smallSans grey from global;
  margin: 0 0 -0.2vw;
}
