.hero {
    grid-column: 1 / 5;
}

.form {
    grid-column: 6 / 11;
}

.form.loading {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
}

.fieldset, .input, .textarea, .files {
    padding: 0;
    margin: 0;
    border: none;
    appearance: none;
    font-family: inherit;
}

.input, .textarea, .button {
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.input, .textarea {
    background: var(--ghost);
    color: var(--black);
    width: 100%;
    margin-bottom: 2rem;
    line-height: 1.6;
    transition: background 0.2s;
    &:hover, &:focus {
        background: #F6F6F6;
        @media (prefers-color-scheme: dark) {
            background: #252528;
        }
    }
    &::placeholder {
        color: var(--black);
        opacity: 0.4;
    }
}

.textarea {
    height: 8rem;
    resize: vertical;
    min-height: 3rem;
    max-height: 15rem;
}

.label {
    font-size: 0.8rem;
    display: block;
    margin: 0 0 0.25rem;
}

.label span {
    opacity: 0.5;
}

.button {
    appearance: none;
    background: var(--black);
    color: var(--white);
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.files {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.files::-webkit-file-upload-button {
    background: var(--ghost);
    appearance: none;
    color: var(--black);
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    margin: 0 1rem 0 0;
    outline: none;
    cursor: pointer;
}

.fieldHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.remaining {
    font-size: 0.8rem;
    color: var(--grey);
    opacity: 0.5;
}