.cover, .hero {
  grid-column: 1 / 13;

  @media (--laptop) {
    grid-column: 1;
  }
}

.hero {
  padding-top: var(--gap-huge);

  @media (--desktop) {
    padding-top: var(--gap-large);
  }

  @media (--laptop) {
    padding-top: var(--gap-medium);
  }

  @media (--tablet) {
    padding-top: var(--gap-small);
  }

  @media (--mobile) {
    padding-top: 0;
  }

  & h1 {
    margin-bottom: 0.5rem;
  }
}

.content {
  grid-column: 2 / 8;

  & > div > *:first-child {
    margin-top: 0;
  }

  & em {
    font-family: var(--type-family-sans);
    font-style: italic;
  }

  @media (--desktop) {
    grid-column: 1 / 8;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.table {
  grid-column: 9 / 12;
  display: grid;
  align-self: flex-start;
  color: var(--grey);

  & > * {
    line-height: 1.7;
  }

  & .heading2 {
    margin-left: 1rem;
  }

  & .heading3 {
    margin-left: 2rem;
  }

  & .heading4 {
    margin-left: 3rem;
  }

  & .heading5 {
    margin-left: 4rem;
  }

  & .heading6 {
    margin-left: 5rem;
  }

  @media (--desktop) {
    grid-column: 9 / 13;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.comparisonSides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.image, .comparison {
  margin: var(--gap-medium) auto;
}

.loading {
  grid-column: 1 / 13;
}
