.outlink {
  grid-column: 1 / 13;
  margin-top: var(--gap-medium);
  
  & :global(a) {
    font-size: var(--type-scale-4);
    text-decoration: none;

    @media (--mobile) {
      font-size: var(--type-scale-3);
    }
  }

  &:hover .arrow {
    transform: translateX(0.25rem);
  }

  @media (--laptop) {
    grid-column: 1;
  }

  @media (--mobile) {
    margin-top: var(--gap-small);
  }
}

.arrow {
  transition: transform 0.2s;
  display: inline-block;
}
