.outlinkWrapper {
  margin-top: var(--gap-medium);
  grid-column: 1 / 13;

  @media (--laptop) {
    grid-column: 1;
  }

  @media (--mobile) {
    font-size: var(--type-scale-3);
    margin-top: var(--gap-small);
  }
}

.outlink {
  font-size: var(--type-scale-4);
  text-decoration: none;

  &:hover .arrow {
    transform: translateX(0.25rem);
  }
}

.arrow {
  transition: transform 0.2s;
  display: inline-block;
}
