.outlink {
  grid-column: 1 / 13;
  margin-top: var(--gap-medium);
  
  & :global(a) {
    font-size: var(--type-scale-4);
    text-decoration: none;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}
