.card {
  grid-column: 1 / 13;

  & + .card {
    margin-top: var(--gap-large);

    @media (--laptop) {
      margin-top: 0;
    }
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-medium);
  margin-top: var(--gap-medium);

  @media (--laptop) {
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: var(--gap-small);
  }
}

.image {
  background: var(--ghost);
}

.summary {
  & > p {
    margin: 0;
  }

  & > h2 {
    margin: 1.5rem 0 0.25rem;
  }

  & > a {
    margin-top: 1.5rem;
    display: block;
  }

  @media (--laptop) {
    margin-bottom: var(--gap-small);
  }
}

.content {
  columns: 2;
  grid-column: 2 / 4;
  column-gap: var(--gap-medium);
  composes: smallSans from global;

  & p {
    margin: 0 0 var(--gap-small);
  }

  @media (--laptop) {
    columns: 1;
    grid-column: 1;
  }
}

.status {
  margin-top: 1rem;
}
