.client {
  display: inline-flex;
  align-items: baseline;

  & > div {
    width: var(--type-scale-3) !important;
    height: var(--type-scale-3) !important;

    @media (--darkMode) {
      filter: brightness(100);
    }

    @media (--mobile) {
      width: var(--type-scale-2) !important;
      height: var(--type-scale-2) !important;
    }
  }
}

.clientName {
  margin-left: 0.5rem;
  text-decoration: underline;
}
