.clientWrapper {
  display: inline-block;
  
  @media (--mobile) {
    margin: -0.6rem;
  }
}

.client {
  display: inline-flex;
  align-items: baseline;
  text-decoration: none;

  & > div {
    width: var(--type-scale-3) !important;
    height: var(--type-scale-3) !important;

    @media (--darkMode) {
      filter: brightness(100);
    }

    @media (--mobile) {
      width: var(--type-scale-2) !important;
      height: var(--type-scale-2) !important;
    }
  }

  @media (--mobile) {
    padding: 0.6rem;
  }
}

.clientName {
  margin-left: 0.5rem;
  text-decoration: underline;
}
