.client h2 {
    margin: 2rem 0 0.5rem;
}

.summary {
    color: var(--grey);
    margin: 0;
}

.description {
    margin: 1.5rem 0;
}

.caption {
    margin: 0;
    display: block;
    color: var(--grey);
}