.label {
  opacity: 0;
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.newsletter {
  margin-bottom: var(--section-gap);
  transition: opacity 0.2s;
  grid-column: 1 / 8;

  &.loading {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}
.fields {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
}

.input {
  background: transparent;
  border: none;
  font-size: var(--type-scale-5);
  font-family: inherit;
  width: 100%;
  padding: 0;
  color: var(--black);

  &::placeholder {
    color: var(--grey);
  }

  @media (--mobile) {
    font-size: var(--type-scale-3);
  }
}

.button {
  background: transparent;
  border: none;
  padding: 0;
  width: 3rem;
  font-size: var(--type-scale-5);
  color: var(--black);
  font-family: inherit;
  text-align: center;
  display: block;
  cursor: pointer;
  transition: transform 0.2s;
  
  &:hover {
    transform: translateX(0.25rem);
  }

  @media (--mobile) {
    font-size: var(--type-scale-3);
  }
}
