@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background: var(--divider);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      color-mod(var(--white) a(0)) 0,
      color-mod(var(--white) a(20%)) 20%,
      color-mod(var(--white) a(50%)) 60%,
      color-mod(var(--white) a(0))
    );
    animation: shimmer 1s infinite;
    content: "";
  }

  & > * {
    z-index: 1;
  }
}
