.role {
  grid-column: 1 / 13;

  & + .role {
    margin-top: var(--gap-large);
  }
}

.meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-medium);
  margin-top: var(--gap-medium);
}

.image {
  background: var(--ghost);
}

.summary {

  & > p {
    margin: 0;
  }

  & > h2 {
    margin: 1.5rem 0 0;
  }

  & > a {
    margin-top: 1.5rem;
    display: block;
  }
}