.role {
  grid-column: 1 / 13;

  & + .role {
    margin-top: var(--gap-large);

    @media (--laptop) {
      margin-top: 0;
    }
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-medium);
  margin-top: var(--gap-medium);

  @media (--laptop) {
    grid-template-columns: 1fr;
    gap: var(--gap-small);
    margin-top: var(--gap-small);
  }
}

.image {
  background: var(--ghost);
}

.summary {

  & > p {
    margin: 0;
  }

  & > h2 {
    margin: 1.5rem 0 0;
  }

  & > a {
    margin-top: 1.5rem;
    display: block;
  }
}