.content {
    max-width: 39rem;
    margin: var(--section-gap) auto 0;
    line-height: 1.7;
    width: 100%;

    & :global(h1),
    & :global(h2),
    & :global(h3),
    & :global(h4),
    & :global(h5),
    & :global(h6) {
        line-height: 1.3;
        margin: 3rem 0 1.5rem;
        font-weight: 650;
    }

    & :global(h1) {
        font-size: var(--type-scale-7);
        @media (--mobile) {
            font-size: var(--type-scale-6);
        }
    }

    & :global(h2) {
        font-size: var(--type-scale-6);
        @media (--mobile) {
            font-size: var(--type-scale-5);
        }
    }

    & :global(h3) {
        font-size: var(--type-scale-5);
        @media (--mobile) {
            font-size: var(--type-scale-4);
        }
    }

    & :global(h4) {
        font-size: var(--type-scale-4);
        @media (--mobile) {
            font-size: var(--type-scale-3);
        }
    }

    & :global(h5) {
        font-size: var(--type-scale-3);
        @media (--mobile) {
            font-size: var(--type-scale-2);
        }
    }

    & :global(iframe) {
        width: 100%;
    }

    & :global(figure),
    & :global(iframe),
    & :global(pre) {
        margin: calc(var(--section-gap) / 2) 0;
    }

    & :global(figure) {
        border-radius: 0.25rem;
        overflow: hidden;
    }

    & :global(figure img) {
        max-width: 100%;
        width: 100%;
    }

    & :global(figcaption) {
        font-size: var(--type-scale-1);
        display: block;
        text-align: center;
        margin-top: 1rem;
        color: var(--grey);

        & a {
            color: inherit;
        }
    }

    & :global(pre) {
        background: var(--black);
        color: #fff;
        padding: 2rem;
        overflow: auto;
        font-family: 'Space Mono', monospace;
        font-size: var(--type-scale-1);
        border-radius: 0.25rem;
        overflow: auto;
        font-variant-ligatures: none;
    }

    @media (--mobile) {
        margin-top: 0;
    }
}

.date {
    color: var(--grey);
    font-weight: 650;
}

.cover {
    border-radius: 0.5rem;
    overflow: hidden;

    @media (--mobile) {
        order: -1;
        height: 60vh;
        margin: -82px -1rem 0;
        border-radius: 0;
        height: 40vh;
        position: relative;
    }
}