.playlists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 13;
  gap: var(--gap-medium);

  @media (--desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--laptop) {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
}

.playlist {
  text-decoration: none;
  display: block;

  & > div {
    grid-column: auto;
    margin-top: 0 !important;

    & > div:last-child {
      display: block;
      margin-top: var(--gap-small);

      & > div {
        margin-bottom: 0 !important;

        & > h2 {
          margin-top: 0.5rem !important;
        }
      }

      & > p {
        columns: 1;
        margin-bottom: 0 !important;
      }
    }
  }
}
