.cover {
    border-radius: 0.5rem;
    overflow: hidden;
    display: block;

    @media (--mobile) {
        border-radius: 0.25rem;
    }
}

.projectsHeader {
    max-width: 25rem;
    margin: var(--section-gap) 0;
}

.projectsHeader p {
    color: var(--grey);
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-bottom: var(--section-gap);

    @media (--desktop) {
        grid-template-columns: 1fr 1fr;
    }

    @media (--tablet) {
        grid-template-columns: 1fr;
    }
}

.presumi {
    background: #C94568;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 3rem 5rem;
    color: var(--white);
    display: flex;
    align-items: center;

    @media (--laptop) {
        flex-direction: column-reverse;
    }

    @media (--mobile) {
        margin-left: -1rem;
        margin-right: -1rem;
        border-radius: 0;
        padding: var(--section-gap) 1rem;
    }
}

.presumiInfo {
    max-width: 20.5rem;
    margin-right: 5rem;

    @media (--laptop) {
        margin-right: 0;
        margin-top: 2rem;
        text-align: center;
        max-width: 27rem;
    }

    @media (--mobile) {
        text-align: left;
    }
}

.presumi a {
    color: var(--white);
}