.projectsHeader {
    max-width: 25rem;
}

.projectsHeader p {
    color: var(--grey);
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-top: var(--section-gap);

    @media (--laptop) {
        grid-template-columns: 1fr 1fr;
    }

    @media (--tablet) {
        grid-template-columns: 1fr;
    }
}

.presumi {
    background: #C94568;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 5rem;
    color: var(--white);
    margin: var(--section-gap) 0;

    @media (--mobile) {
        margin-left: -1rem;
        margin-right: -1rem;
        border-radius: 0;
        padding: 3rem 1rem;
    }
}

.presumi a {
    color: var(--white);
}