.feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    grid-gap: 3rem;
}

.featureImage {
    grid-column: 1;
    border-radius: 0.5rem;
    overflow: hidden;
}

.caption {
    color: var(--grey);
    font-weight: 650;
}

.featureInfoContainer {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featureInfo h2 {
    margin: 0;
}

.featureInfo p {
    margin: 2rem 0;
}

.feature.reverse .featureImage {
    grid-column: 2;
}

.feature.reverse .featureInfoContainer {
    grid-column: 1;
}

.featureInfo {
    max-width: 23rem;
}

.featureInfo p {
    color: var(--grey);
}