.feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-gap: 3rem;

    @media (--laptop) {
        display: block;
    }
}

.featureImage {
    grid-column: 1;
    border-radius: 0.5rem;
    overflow: hidden;

    @media (--mobile) {
        border-radius: 0.25rem;
    }
}

.caption {
    color: var(--grey);
    font-weight: 650;
}

.featureInfoContainer {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (--laptop) {
        margin-top: 2rem;
    }
}

.featureInfo h2 {
    margin: 0;
}

.featureInfo p {
    margin: 2rem 0;

    @media (--mobile) {
        margin: 1rem 0;
    }
}

.feature.reverse .featureImage {
    grid-column: 2;
}

.feature.reverse .featureInfoContainer {
    grid-column: 1;
}

.featureInfo {
    max-width: 23rem;

    @media (--mobile) {
        max-width: none;
    }
}

.featureInfo p {
    color: var(--grey);
}