.footer {
    background: var(--ghost);
    padding: var(--section-gap) 4rem;
    display: flex;
    flex-direction: column;

    @media (--mobile) {
        text-align: left;
        align-items: flex-start;
    }
}

.label {
    opacity: 0;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

.newsletter {
    margin-bottom: var(--section-gap);
    transition: opacity 0.2s;
}

.newsletter.loading {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
}

.newsletterFields {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
}

.input {
    background: transparent;
    border: none;
    font-size: var(--type-scale-4);
    width: 100%;
}

.newsletterButton {
    background: transparent;
    border: none;
    padding: 0;
    width: 2rem;
    outline: none;
}

.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media (--mobile) {
        justify-content: left;
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.socialIcon {
    padding: 1rem;
    opacity: 0.4;
    transition: opacity 0.2s, transform 0.2s;
}

.socialIcon:hover {
    opacity: 1;
    transform: translateY(-4px);
}
