.footer {
  background: var(--ghost);

  @media (--mobile) {
    text-align: left;
    align-items: flex-start;
  }
}

.container {
  grid-column: 1 / 9;
  align-self: flex-end;

  & :global(a) {
    text-decoration: underline;
  }

  & :global(.h1Sans), & :global(.h1Serif) {
    @media (--mobile) {
      font-size: var(--type-scale-3);
    }
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 13;
  align-self: flex-start;

  @media (--mobile) {
    justify-content: left;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.socialIcon :global(a) {
  padding: 1rem;
  opacity: 0.4;
  transition: opacity 0.2s, transform 0.2s;
  display: flex;

  @media (--darkMode) {
    filter: brightness(100);
  }
}

.socialIcon :global(a):hover {
  opacity: 1;
  transform: translateY(-4px);
}

.copyright {
  grid-column: 1 / 13;
  margin-top: var(--gap-medium);

  & :global(a) {
    text-decoration: underline;
  }
}
