.footer {
    padding: var(--section-gap) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (--mobile) {
        text-align: left;
        align-items: flex-start;
    }
}

.label {
    opacity: 0;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

.newsletter {
    margin-bottom: var(--section-gap);
    transition: opacity 0.2s;
}

.newsletter.loading {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
}

.newsletterFields {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
}

.newsletterHeading {
    max-width: 21rem;
    margin: 3rem 0;

    @media (--mobile) {
        margin: 1.5rem 0;
    }
}

.newsletterInput {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 1rem;

    @media (--mobile) {
        margin-left: -1rem;
    }
}

.newsletterButton {
    background: transparent;
    border: none;
    padding: 0;
    width: 2rem;
    outline: none;
}

.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media (--mobile) {
        justify-content: left;
        margin-left: -1rem;
    }
}

.socialIcon {
    padding: 1rem;
    opacity: 0.4;
    transition: opacity 0.2s, transform 0.2s;
}

.socialIcon:hover {
    opacity: 1;
    transform: translateY(-4px);
}

.copyright {
    color: var(--grey);
    margin-top: 2rem;

    & a {
        color: inherit;

        &:hover {
            color: var(--black);
        }
    }
}