.footer {
  background: var(--ghost);

  @media (--mobile) {
    text-align: left;
    align-items: flex-start;
  }
}

.container {
  grid-column: 1 / 9;
  align-self: flex-end;

  & :global(a) {
    text-decoration: underline;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 13;
  align-self: flex-start;

  @media (--mobile) {
    justify-content: left;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.socialIcon :global(a) {
  padding: 1rem;
  opacity: 0.4;
  transition: opacity 0.2s, transform 0.2s;
  display: flex;
  filter: var(--image-filter);
  
  &:hover, &:focus {
    opacity: 1;
    transform: translateY(-4px);
  }
}

.newsletter {
  composes: h1Sans from global;

  @media (--mobile) {
    font-size: var(--type-scale-3);
    & em {
      font-size: var(--type-scale-3);
    }
  }
}

.footerLower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--gap-medium);
  grid-column: 1 / 13;
  border-top: 1px solid var(--divider);
  padding-top: 2rem;

  @media (--laptop) {
    grid-column: 1;
  }

  @media (--mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.copyright :global(a) {
  text-decoration: underline;
}

.select {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--divider);
  appearance: none;
  width: 100%;
  max-width: 12rem;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.2;
  background: transparent;
  color: var(--black);
  background-image: url('/chevron.svg');
  background-repeat: no-repeat;
  background-position: right 1rem center;
}
