.bio {
    grid-column: 1 / 8;

    & :global(h2) {
        color: var(--grey);
        border-bottom: 1px solid var(--grey);
        padding-bottom: 0.5rem;
        margin-bottom: var(--gap-small);
    }

    & > div + div {
        margin-top: var(--gap-large);
    }
}

.sidebar {
    grid-column: 9 / 13;

    & :global(h2) {
        color: var(--grey);
        border-bottom: 1px solid var(--grey);
        padding-bottom: 0.5rem;
        margin-bottom: var(--gap-small);
    }

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            margin-top: var(--gap-small);
        }
    }

    & > div {
        margin-bottom: var(--gap-large);
    }
}

.roleDetails, .eventDetails {
    margin: 0;
}