.cover {
    border-radius: 0.5rem;
    overflow: hidden;
    display: block;

    @media (--mobile) {
        border-radius: 0.25rem;
    }
}

.events {
    list-style: none;
    padding: 0;
    margin: var(--section-gap) 0 0;
}

.event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--ghost);

    @media (--tablet) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.eventLink {
    text-decoration: none;
    color: inherit;
}

.eventLink .eventName {
    text-decoration: underline;
}

.eventName, .eventMeta span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (--tablet) {
        white-space: normal;
    }
}

.eventMeta {
    display: flex;
    color: var(--grey);

    @media (--tablet) {
        margin-top: 0.5rem;
    }
}

.eventMeta span {
    margin-left: 2rem;
    display: block;

    @media (--tablet) {
        margin-left: 0;

        &:first-of-type::after {
            content: ",";
            display: inline-block;
            margin-right: 0.25rem;
        }
    }
}

.eventYear {
    font-variant: tabular-nums;
}