.bio {
  grid-column: 1 / 8;

  & > div + div {
    margin-top: var(--gap-large);
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.sidebar {
  grid-column: 9 / 13;

  & > div {
    margin-bottom: var(--gap-large);
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    margin-top: var(--gap-small);
  }
}

.roleDetails,
.eventDetails {
  margin: 0;
}

.expand {
  cursor: pointer;
  margin-top: var(--gap-small);

  &:hover, &:focus {
    color: var(--black);
  }
}

.itemLink {
  display: block;
}
