.heroLeft {
  grid-column: 1 / 3;

  @media (--laptop) {
    grid-column: 1;
  }
}

.heroRight {
  grid-column: 4 / 13;

  & > div + div {
    margin-top: var(--gap-medium);
  }

  & .outlink * {
    font-size: inherit;
  }

  & p {
    display: inline;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.work,
.project {
  &:nth-of-type(1) {
    grid-column: 1 / 7;
    @media (--laptop) {
      grid-column: 1;
    }
  }

  &:nth-of-type(2) {
    grid-column: 7 / 13;
    @media (--laptop) {
      grid-column: 1;
    }
  }
}

.designPosts {
  grid-column: 1 / 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-medium);
  align-self: flex-start;

  & > :first-of-type:last-of-type {
    grid-column: 1 / 3;
  }

  @media (--laptop) {
    grid-column: 1;
    grid-template-columns: 1fr;
  }
}

.technicalPosts {
  grid-column: 10 / 13;
  display: grid;
  gap: var(--gap-small);
  align-self: flex-start;

  @media (--laptop) {
    grid-column: 1;
  }
}

.asterisk {
  display: inline-block;
  
  & > div > div {
    width: var(--type-scale-5) !important;
    height: var(--type-scale-5) !important;
    filter: var(--image-filter);
  }
}
