.sectionHeader {
  border-bottom: 1px solid var(--divider);
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  grid-column: 1 / 13;

  @media (--laptop) {
    grid-column: 1;
  }
}

.heroLeft {
  grid-column: 1 / 3;

  @media (--laptop) {
    grid-column: 1;
  }
}

.heroRight {
  grid-column: 4 / 13;

  & :global(p):first-of-type {
    margin-top: 0;
  }

  & .outlink * {
    font-size: inherit;
  }

  @media (--laptop) {
    grid-column: 1;
  }
}

.work,
.project {
  &:nth-of-type(1) {
    grid-column: 1 / 7;
    @media (--laptop) {
      grid-column: 1;
    }
  }

  &:nth-of-type(2) {
    grid-column: 7 / 13;
    @media (--laptop) {
      grid-column: 1;
    }
  }
}

.designPosts {
  grid-column: 1 / 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-medium);
  align-self: flex-start;

  & > div:first-of-type:last-of-type {
    grid-column: 1 / 3;
  }

  @media (--laptop) {
    grid-column: 1;
    grid-template-columns: 1fr;
  }
}

.technicalPosts {
  grid-column: 10 / 13;
  display: grid;
  gap: var(--gap-small);
  align-self: flex-start;

  @media (--laptop) {
    grid-column: 1;
  }
}

.asterisk > div {
  width: var(--type-scale-5) !important;
  height: var(--type-scale-5) !important;

  @media (--darkMode) {
    filter: brightness(100);
  }
}
