.cover {
    border-radius: 0.5rem;
    overflow: hidden;
}

.intro {
    padding: var(--section-gap) 0;
    text-align: center;
    max-width: 32rem;
    margin: 0 auto;
}

.features > div {
    margin-bottom: var(--section-gap);
}

.focus {
    background: var(--ghost);
    padding: var(--section-gap);
    
    @media (--mobile) {
        background: transparent;
        padding: 0;
    }
}

.focus p {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}

.age {
    cursor: pointer;
}