.content {
  margin: 6rem;
  display: grid;
  gap: 2.5rem;
  max-width: 29.125rem;
}

.aside {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
  user-select: none;
  min-height: 50vw;
}

.social {
  margin: 3rem;
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  user-select: none;
}

.photo {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  overflow: hidden;
  user-select: none;
}

.bio {
  display: grid;
  gap: 1.5rem;
}

.form {
  position: relative;
}

.form.loading {
  opacity: 0.5;
  pointer-events: none;
}

.input {
  font-family: inherit;
  color: inherit;
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid var(--divider);
  width: 100%;
  padding-right: 2rem;
  background: transparent;
  outline: none;
  transition: border 0.2s ease;
  text-rendering: inherit;
}

.input:focus,
.input:active {
  border-color: #98a2b3;
}

.button {
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
  outline: none;
  text-rendering: inherit;
}

.button:not(:disabled):hover {
  transform: translateY(-50%) translateX(0.25rem);
  opacity: 0.8;
}

@media (max-width: 75rem) {
  .social {
    grid-auto-flow: row;
  }
}

@media (max-width: 41.125rem) {
  .content {
    margin: 4rem auto;
    padding: 0 1.5rem;
  }
  .aside {
    opacity: 0.3;
  }
  .social {
    position: static;
    max-width: 29.125rem;
    margin: 0 auto 4rem;
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
  }
}
