@font-face {
  font-family: "haydenbleasel-lausanne";
  src: url("/fonts/lausanne/TWKLausanne-300.woff2") format("woff2"),
    url("/fonts/lausanne/TWKLausanne-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "haydenbleasel-gtsuper";
  src: url("/fonts/gtsuper/GT-Super-Display-Light-Italic.woff2") format("woff2"),
    url("/fonts/gtsuper/GT-Super-Display-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@custom-media --small (max-width: 576px);
@custom-media --tablet (max-width: 768px);
@custom-media --laptop (max-width: 992px);
@custom-media --desktop (max-width: 1200px);
@custom-media --desktopLarge (max-width: 1440px);

:root {
  --gap-small: 2vw;
  --gap-medium: calc(var(--gap-small) * 2);
  --gap-large: calc(var(--gap-small) * 3);
  --gap-huge: calc(var(--gap-small) * 6);

  --white: #ffffff;
  --black: #1d1d1d;
  --grey: #757575;
  --silver: #bdbdbd;
  --divider: #dddddd;
  --ghost: #fafafa;

  --type-scale-1: 1.25vw;
  --type-scale-2: calc(var(--type-scale-1) * 1.25);
  --type-scale-3: calc(var(--type-scale-2) * 1.25);
  --type-scale-4: calc(var(--type-scale-3) * 1.25);
  --type-scale-5: calc(var(--type-scale-4) * 1.25);
  --type-scale-6: calc(var(--type-scale-5) * 1.25);

  --type-scale-0: calc(var(--type-scale-1) / 1.25);
  --type-family-sans: "haydenbleasel-lausanne", Arial, Helvetica, sans-serif;
  --type-family-serif: "haydenbleasel-gtsuper", serif;

  @media (prefers-color-scheme: dark) {
    --white: #1d1d1d;
    --black: #ffffff;
    --grey: #a1a1aa;
    --ghost: #17171c;
  }

  @media (--desktopLarge) {
    --type-scale-1: 18px;
    --gap-small: calc(var(--type-scale-1) * 2);
  }
}

html {
  font-family: var(--type-family-sans);
  font-weight: 300;
  font-size: var(--type-scale-1);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: var(--black);
  box-sizing: border-box;
  background: var(--white);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

.titleSans {
  font-family: var(--type-family-sans);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-6);
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.titleSerif {
  font-family: var(--type-family-serif);
  font-style: italic;
  font-weight: 300;
  font-size: var(--type-scale-6);
  line-height: 1.02;
  letter-spacing: -0.02em;
}

.h1Sans {
  font-family: var(--type-family-sans);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-5);
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.h1Serif {
  font-family: var(--type-family-serif);
  font-style: italic;
  font-weight: 300;
  font-size: var(--type-scale-5);
  line-height: 1.02;
  letter-spacing: -0.02em;
}

.h2Sans {
  font-family: var(--type-family-sans);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-4);
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.h2Serif {
  font-family: var(--type-family-serif);
  font-style: italic;
  font-weight: 300;
  font-size: var(--type-scale-4);
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.h3Sans {
  font-family: var(--type-family-sans);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-3);
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.h3Serif {
  font-family: var(--type-family-serif);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-3);
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.h4Sans {
  font-family: var(--type-family-sans);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-2);
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.h4Serif {
  font-family: var(--type-family-serif);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-2);
  line-height: 1;
  letter-spacing: -0.01em;
}

.paragraphSans {
  font-family: var(--type-family-sans);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-1);
  line-height: 1.4;
  letter-spacing: -0.005em;
}

.paragraphSerif {
  font-family: var(--type-family-serif);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-1);
  line-height: 1.2;
  letter-spacing: -0.005em;
}

.small {
  font-family: var(--type-family-sans);
  font-style: normal;
  font-weight: 300;
  font-size: var(--type-scale-0);
  line-height: 1.5;
}

.underline {
  text-decoration: underline;
}

.grey {
  color: var(--grey);
}