@font-face {
  font-family: "haydenbleasel-universalsans";
  src: url("/fonts/UniversalSans-v1-2-0-50-0-721212122121-01-450.woff") format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "haydenbleasel-universalsans";
  src: url("/fonts/UniversalSans-v1-2-0-50-0-721212122121-01-650.woff") format("woff");
  font-weight: 650;
  font-style: normal;
  font-display: swap;
}

@custom-media --mobile (max-width: 575.98px);
@custom-media --tablet (max-width: 767.98px);
@custom-media --laptop (max-width: 991.98px);
@custom-media --desktop (max-width: 1199.98px);

:root {
  --section-gap: 10rem;
  --page-gutter: 4rem;
  --page-width: 73rem;
  
  --white: #FFFFFF;
  --black: #0C0D15;
  --grey: #565660;
  --ghost: #FAFAFA;

  --type-scale-7: 3.052rem;
  --type-scale-6: 2.441rem;
  --type-scale-5: 1.953rem;
  --type-scale-4: 1.563rem;
  --type-scale-3: 1.25rem;
  --type-scale-2: 1rem;
  --type-scale-1: 0.8rem;

  @media (--mobile) {
    --section-gap: 5rem;
    --page-gutter: 1rem;
  }
}

html {
  font-family: 'haydenbleasel-universalsans', Arial, Helvetica, sans-serif;
  font-weight: 450;
  font-size: 18px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: var(--black);
}

body {
  margin: 0;
}

.heading-1 {
  font-size: var(--type-scale-7);
  @media (--mobile) {
    font-size: var(--type-scale-6);
  }
}

.heading-2 {
  font-size: var(--type-scale-6);
  @media (--mobile) {
    font-size: var(--type-scale-5);
  }
}

.heading-3 {
  font-size: var(--type-scale-5);
  @media (--mobile) {
    font-size: var(--type-scale-4);
  }
}

.heading-4 {
  font-size: var(--type-scale-4);
  @media (--mobile) {
    font-size: var(--type-scale-3);
  }
}

.heading-5 {
  font-size: var(--type-scale-3);
  @media (--mobile) {
    font-size: var(--type-scale-2);
  }
}

small {
  font-size: var(--type-scale-1);
}

p a {
  color: inherit;
}

.grid {
  display: grid;
  grid-template-columns: minmax(var(--page-gutter), auto) minmax(0, var(--page-width)) minmax(var(--page-gutter), auto);
}

.container {
  grid-column: 2;
}

.headroom--pinned {
  box-shadow: 0 0.25rem 2rem 0 rgba(0,0,0,0.05);
}