:root {
  --gap-small: 2vw;
  --gap-medium: calc(var(--gap-small) * 2);
  --gap-large: calc(var(--gap-small) * 3);
  --gap-huge: calc(var(--gap-small) * 6);

  --white: #ffffff;
  --black: #1d1d1d;
  --grey: #757575;
  --divider: #dddddd;
  --ghost: #fafafa;
  --red: #FF5630;
  --green: #31A575;

  --image-filter: brightness(100%);
  --type-scale-multiplier: 1.25;

  --type-scale-1: calc(1vw * var(--type-scale-multiplier));
  --type-scale-2: calc(var(--type-scale-1) * var(--type-scale-multiplier));
  --type-scale-3: calc(var(--type-scale-2) * var(--type-scale-multiplier));
  --type-scale-4: calc(var(--type-scale-3) * var(--type-scale-multiplier));
  --type-scale-5: calc(var(--type-scale-4) * var(--type-scale-multiplier));
  --type-scale-6: calc(var(--type-scale-5) * var(--type-scale-multiplier));

  --type-scale-0: calc(var(--type-scale-1) / var(--type-scale-multiplier));
  --type-family-sans: "haydenbleasel-lausanne", Arial, Helvetica, sans-serif;
  --type-family-serif: "haydenbleasel-gtsuper", Georgia, Times, Times New Roman, serif;

  @media (prefers-color-scheme: dark) {
    --white: #111213;
    --black: #ffffff;
    --grey: #a1a1aa;
    --divider: #222222;
    --ghost: #17171c;
    --image-filter: brightness(100);
  }

  @media (--desktopLarge) {
    --type-scale-1: 18px;
    --gap-small: calc(var(--type-scale-1) * 2);
  }

  @media (--mobile) {
    --type-scale-1: 16px;
    --type-scale-multiplier: 1.125;
  }
}
