.post {

    & a {
        text-decoration: none;
        display: block;
    }

    & h2 {
        margin: 0;
    }
    
    & small {
        margin-bottom: calc(var(--gap-small) / 2);
        display: block;
    }

    & p {
        margin: calc(var(--gap-small) / 2) 0 0 0;
    }
}

.image {
    margin-bottom: var(--gap-small);
}