.post a {
    color: inherit;
    text-decoration: none;
}

.meta {
    margin-top: 2rem;
}

.title {
    font-size: var(--type-scale-3);
    margin: 0;
}

.caption {
    color: var(--grey);
    margin: 0;
    display: block;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0.5rem 0 1rem;
}

.image {
    border-radius: 0.25rem;
    overflow: hidden;
}