.post {
  transition: transform 0.2s;
  text-decoration: none;
  display: block;

  & h2 {
    margin: 0;
  }

  & small {
    margin-bottom: calc(var(--gap-small) / 2);
    display: block;
  }

  & p {
    margin: calc(var(--gap-small) / 2) 0 0 0;
  }

  &:hover {
    transform: translateY(-4px);
  }
}

.image {
  margin-bottom: var(--gap-small);
}

.status {
  margin-left: 0.5rem;
}

.title {
  display: flex;
  align-items: center;
}
